/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';

* {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	box-sizing: border-box;
	font-family: "Comic Sans MS", cursive, sans-serif;
	list-style-type: none;
	//background: url('http://www.clker.com/cliparts/0/Q/2/T/L/r/beach-hi.png');
	background-color: #e0cba6;

}

h3 {
	font-size: 24px;
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
}

ul {
	display: flex;
	li {
		font-size: 14px;
	}
}

button {
	height: 75px;
	width: 200px;
	margin: 10px;
	flex-direction: row;
	background-color: #a09075;
	&:hover {
		background-color: #871b1b;
		color: white;
	}
}




